body{
    font-size: 1em;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-align: left;
    text-align: center;
    width: 1000px;

}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    text-align: center;
}

ul{
    list-style-type: none;
    text-align: center;
}
#skipnav{
    top: 5px;
    left: 5px;
    position: absolute;
    background: white;
}

.info{
    width: 40%;
    font-size: 1em;
    float: left;
    margin-left: 10%;
}