body {
    font-size: 1em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;;
    color: #000000;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    width:1000px;
    margin: 0 auto;
  }
  h1 {
    font-size: 2.8em;
    font-weight: bold;
    color: #000080;
    text-align: center;
  }  
  h2{
    font-size: 1em;
    font-weight: bold;
    color: #000080;
    margin-top: 4%;
    
  }  
  h3{
    font-size: 1em;
    font-weight: bold;
    color: #000080;
    margin-top: 10%;
    
  }
  h1,h2,h3 {
    font-family: Rockwell,"Times New Roman",serif;
    margin-left:1em;
  } 
  p{   
    margin-left: 1em;
  }
  h4{
    font-size: 1em;
    margin-left: 20%;
    margin-top: 10%;
    width: 60%;
    
  }
  a {
  color:#000080;
  }
  ul{
  list-style-type: none;
  align-content: center;

  }

 

  /*skipnav is the id attribute on the div element we used for the
  skip to main content link
  */
  #skipnav a{
  color:black;
  }
  /*info is the class we used to style the div elements surrounding
  our name and contact info and the course name and school
  */
  .info{
  width: 40%;
  font-size: 1em;
  float: left;
  margin-left: 10%;
  } 
  /* banner is the id on the div surrounding the h1 header and the
  navigation menu */
  #banner {
  background-color: #EBF5FF; 
  border-bottom: solid;
  border-top:solid;
  }
  #page {
    margin-left:auto;
    margin-right:auto;
    width:960px;
  }
  /*border is the id on the div surrounding the entire body of the 
  document */
  #border{
  border-style: solid;
  }
  /*css for the table in accessibility.html */
  table{
  border:none;
  position: absolute;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 3%;
  }
   
  caption {
  font-size:2em;
  font-family: Arial, Helvetica, sans-serif;
  }
  th{
  padding:.5em;
  text-align: left;
  }
  td{
  padding:.5em;
  padding-right: 5em;     
  }
  /*this is the css used to create the navigation menu */
  nav{
  clear:left;
  padding:2em;
  position: absolute;
  margin-left: 20%;

  

  }
  nav ul li {
    float: left;

  }
  nav ul li a {
  padding: 0.25em 1em;
  text-decoration: none; /* no underline */
  background-color: #EBF5FF; /* pale bluish white */
  color: #4312AE; /* dark blue */
  border: 2px solid black;
  border-top-left-radius: 1em 1em; /* rounded corner! */
  border-top-right-radius: 1em 1em; /* another rounded corner! */
  }
  nav ul li a:hover, nav ul li a:focus {
  color: black;
  background-color: white;
  font-weight: bold;
  }
  
  /*style for javascript.html and jsFundamentals.html */
  li.jsList {
    margin: 5%;
  }
  button.jsFun {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
  }